{% extends 'base.html.twig' %}

{% block title %}Sipariş Onayla{% endblock %}
{% block customScript %}
    <script>
        let pageVue = new Vue({
            delimiters: ['${', '}'],
            el: '#page',
            data: {
                shoppingCart:{{ shoppingCart|raw }},
                amount:{{ amount|raw }},
            },
            methods: {
                formSubmit:function () {
                    $("#address_form").submit();
                }
            },
            computed: {},
            watch: {},
            created() {
                let _this = this;
                $(document).ready(function () {
                    // Alanlar dolu mu diye kontrol ediyoruz.
                    $("#address_form").submit(function (e) {
                        var $myForm = $('#address_form');
                        if (!$myForm[0].checkValidity()) {
                            alert("Lütfen formu doldurunuz.");
                            return false;
                        }
                    });
                })
            }
        });
    </script>
{% endblock %}

{% block body %}
    <section class="checkout spad">
        <div class="container">

            <div class="checkout__form">
                <h4>Adres</h4>
                    {{ form_start(form, {'attr': {'id': 'address_form'}}) }}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Adınız<span>*</span></p>
                                        {{ form_widget(form.name) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Soyadınız<span>*</span></p>
                                        {{ form_widget(form.surname) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>İl<span>*</span></p>
                                        {{ form_widget(form.city) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>İlçe<span>*</span></p>
                                        {{ form_widget(form.district) }}
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Tam Adres<span>*</span></p>
                                {{ form_widget(form.fullAddress) }}
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Telefon<span>*</span></p>
                                        {{ form_widget(form.phone) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Mail<span>*</span></p>
                                        {{ form_widget(form.email) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkbox">
                                        <p>Ödeme tipi<span>*</span></p>
                                        <input type="checkbox" id="kapida" checked="checked" disabled>
                                        <label for="kapida">Kapıda Ödeme</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Sipariş</h4>
                                <div class="checkout__order__products">Ürünler <span>Toplam</span></div>
                                <ul>
                                    <li v-for="item in shoppingCart">${item.productName} <span>${item.withoutDiscountTotalPrice} ₺ </span></li>
                                </ul>
                                <div class="checkout__order__subtotal">Ara Toplam <span> ${ amount.subTotalAmount } ₺</span></div>
                                <div class="checkout__order__total">İndirim Tutarı <span style="color: green"> ${ amount.discountAmount } ₺</span></div>
                                <div class="checkout__order__total">Ödenecek Tutar <span style="color: green"> ${ amount.totalAmount } ₺</span></div>

                                <button type="submit" @click="formSubmit()" class="site-btn">Sipariş ver</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}