{% extends 'base.html.twig' %}

{% block title %}Anasayfa{% endblock %}

{% block customScript %}
    <script>
        let pageVue = new Vue({
            delimiters: ['${', '}'],
            el: '#page',
            data: {
                selectedCategory: '',
                categoryList: {{ categoryList|raw }},
                productList: {{ productList|raw }},
                shoppingCart: {{ shoppingCart|raw }},
            },
            methods: {
                getCategoryProduct: function (categoryId) {
                    let _this = this;
                    _this.selectedCategory = categoryId;
                    setTimeout(function () {
                        $.ajax({
                            url: "{{ path('front_api_get_products') }}",
                            method: "POST",
                            headers: {
                                'accept': "application/json",
                                'Content-Type': "application/json",
                            },
                            data: JSON.stringify({"category": categoryId}),
                            success: function (data) {
                                if (data.isSuccess) {
                                    _this.productList = data.data;
                                }
                            },
                            error: function (data) {
                                return false
                            }
                        })
                    }, 100);
                },
                addToCart: function (productId) {
                    let _this = this;
                    setTimeout(function () {
                        $.ajax({
                            url: "{{ path('front_api_add_to_cart') }}",
                            method: "POST",
                            headers: {
                                'accept': "application/json",
                                'Content-Type': "application/json",
                            },
                            data: JSON.stringify({"product": productId}),
                            success: function (data) {
                                if (data.isSuccess) {
                                    _this.shoppingCart = data.data;
                                }
                            },
                            error: function (data) {
                                return false
                            }
                        })
                    }, 100);
                },
                isInShoppingCart: function (productId) {
                    let _this = this;
                    let res = null
                    $.each(_this.shoppingCart, function (index, value) {
                        if (value.productId === productId) {
                            res = value;
                        }
                    });
                    return res;
                },
                cartItemProcessor: function (productId, action) {
                    let _this = this;
                    let cartItem = _this.isInShoppingCart(productId);
                    setTimeout(function () {
                        $.ajax({
                            url: "{{ path('front_api_cart_item_processor') }}",
                            method: "POST",
                            headers: {
                                'accept': "application/json",
                                'Content-Type': "application/json",
                            },
                            data: JSON.stringify({"productId": productId, "action": action}),
                            success: function (data) {
                                if (data.isSuccess) {
                                    console.log(data.data);
                                    if (action === "decrease") {
                                        if (data.data==null) {
                                            delete _this.shoppingCart[cartItem.id];
                                        } else {
                                            _this.shoppingCart = data.data;
                                        }
                                    } else {
                                        _this.shoppingCart = data.data;
                                    }
                                    _this.pageRefresher++;
                                }
                            },
                            error: function (data) {
                                return false
                            }
                        })
                    }, 100);
                },
            },
            computed: {},
            watch: {},
            created() {
                let _this = this;
                $(document).ready(function () {

                })
            }
        });
    </script>
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Hoş Geldiniz</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*" @click="getCategoryProduct('')">Tümü</li>
                            <li v-for="item in categoryList" :class="item.id==selectedCategory?'active':'inactive'" data-filter="*" @click="getCategoryProduct(item.id)"> ${ item.name }</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter" id="MixItUp2DDE0A">
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" v-for="product in productList">
                    <div class="featured__item">
                        <div class="featured__item__pic" >
                            <img :src="'{{ app.request.baseUrl }}/assets/uploads/'+product.image" alt="">
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">${product.name} </a></h6>
                            <h5>${product.price} ₺</h5>
                            {% if app.user is null %}
                                <a class="btn btn-secondary mt-1" href="{{ path('app_login') }}">Sepete Ekle</a>
                            {% else %}
                                <div v-if="isInShoppingCart(product.id)!=null">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <button class="btn btn-sm" @click="cartItemProcessor(product.id,'decrease')"><h4>-</h4></button>
                                            <input type="text" v-model="isInShoppingCart(product.id).quantity" readonly disabled>
                                            <button class="btn btn-sm" @click="cartItemProcessor(product.id,'increase')"><h5>+</h5></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-secondary mt-1" v-if="isInShoppingCart(product.id)==null" @click="addToCart(product.id)">Sepete Ekle</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="featured__controls">
                        <a class="btn btn-success" href="{{ path('product_list') }}"> Tüm Ürünleri Gör </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}